.btn-wrapper{
    width: 24%;
    padding: 0.3%;
    margin-top: 1%;
    margin-left: 12.5%;
    background-color: rgb(238, 247, 255);
    justify-content: center;
    border-top: 2px solid  rgb(0, 136, 255);
    border-left: 2px solid  rgb(0, 136, 255);
    border-right: 2px solid  rgb(0, 136, 255);
}
.sheet-header{
  margin-top: 3%;
  margin-left: 12.4%;
  color: rgb(0, 136, 255);
}
